<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style type="text/css">

  </style>
</head>
<body>
<h1><%= t('user_mailer.registration_confirmation.greeting', user: @user.name) %></h1>

  <%= t('user_mailer.registration_confirmation.paragraph') %><br/>

  <br/>
  <%= link_to t('user_mailer.registration_confirmation.button'), confirm_email_home_index_url(confirm_token: @user.confirm_token) %>
</br>
</body>
</html>