<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style type="text/css">

  </style>
</head>
<body>
<h3><%= t('user_mailer.reset_password.greeting', user: @user.name) %></h3>

<p>
  <%= t('user_mailer.reset_password.paragraph1') %>
</p>
<p>
  <%= t('user_mailer.reset_password.paragraph2') %>
</p>
<br/>

<%= link_to t('user_mailer.reset_password.button'), reset_password_home_index_url(confirm_token: @user.reset_password_token) %>
</br>
</body>
</html>