<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style type="text/css">

  </style>
</head>
<body>
<h1>Hello <%= @user.name %></h1>

<p>
  You have requested a password reset, please follow the link below to reset your password.
</p>
<p>
  Please ignore this email if you did not request a password change.
</p>
<br/>

<%= link_to 'Reset Password', reset_password_home_index_url(confirm_token: @user.reset_password_token) %>
</br>
</body>
</html>