p
  strong = t('comments.text')+':'
  = @comment.text
p
  strong = t('comments.exercise')+':'
  = @comment.exercise.title
p
  strong = t('comments.user')+':'
  = @comment.user.email
p
  strong = t('comments.created_at')+':'
  = @comment.created_at
.actions.btn-group[role="group"]
  - if can? :edit, @comment
    = link_to t('comments.button.edit'), edit_exercise_comment_path(@exercise, @comment), class:'btn btn-warning'
  = link_to t('comments.button.back'), exercise_comments_path(@exercise, @comment), class:'btn btn-default'
