<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testing_framework.name %>
</p>

<%= link_to 'Edit', edit_testing_framework_path(@testing_framework) %> |
<%= link_to 'Back', testing_frameworks_path %>
