default: &default
  default_options:
    from: no-reply@example.com
  smtp_settings:
    address: 127.0.0.1
  sendmail_settings:
    host: localhost
  delivery_method: :sendmail

development:
  <<: *default
  default_url_options:
    host: localhost
    port: 7500

production:
  <<: *default
  delivery_method: :smtp
  smtp_settings:
    address: 192.168.0.1

test:
  <<: *default
  default_url_options:
    host: localhost
    port: 3000
  delivery_method: :test