# This file allows to further customize the Content Security Policy (CSP).
# All settings will be applied **in addition** to the application CSP.
# Additional keys can be added if required.
# Default directives are defined here: `initializers/content_security_policy.rb`.

default: &default
  # Optionally: Specify a custom, non-Sentry URL for reporting CSP violations.
  # For Sentry, set the `SENTRY_CSP_REPORT_URL` environment variable.
  # report_uri: https://example.com/csp-report
  #
  # No additional directives, remove this line to add other directives.
  { }


development:
  <<: *default
  # Allow the webpack-dev-server in development
  connect_src:
    - http://localhost:3045
    - ws://localhost:3045


production:
  <<: *default


test:
  <<: *default
