= form_for(@cart) do |f|
  - if @cart.errors.any?
    #error_explanation
      h2
        = pluralize(@cart.errors.count, t('error'))
        = t('carts.errorMessage')
      ul
        - @cart.errors.full_messages.each do |message|
          li
            = message
  - if @cart.persisted?
    dl.dl-horizontal.col-md-12
      dt
        = t('carts.exercises')
      - if @cart.user === current_user
        - if @cart.exercises
          - @cart.exercises.each do |exercise|
            dd
              = link_to exercise.title, exercise_path(exercise)
            dd
              = link_to t('carts.form.delete'), @cart.exercises.delete(exercise), method: :delete, data: { confirm: t('sure') }, class:'btn btn-danger btn-xs'
        - else
          dd
            = t('carts.noExercisesAdded')
  .actions
    = f.submit nil ,class:'btn btn-primary'