<h2>Your Cart </h2>


<dl class="dl-horizontal">
  <dt>Exercises</dt>
  <% @carts.each do |cart| %>
      <% if cart.user === current_user %>
        <% if cart.exercises %>
          <% cart.exercises.each do |exercise| %>
            <% if exercise %>
              <dd><%= link_to exercise.title, exercise_path(exercise) %></dd>
            <% end %>
          <% end %>
        <% else%>
          <dd> <%= 'No exercises added' %></dd>
        <% end %>
      <% end %>
      <dt>Actions</dt>
      <dd><%= link_to 'Edit', edit_cart_path(cart), class:'btn btn-warning btn-xs' %> <%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' %></dd>
  <% end %>
</dl>


<br>
