<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @label_category.name %>
</p>

<%= link_to 'Edit', edit_label_category_path(@label_category) %> |
<%= link_to 'Back', label_categories_path %>
