/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
 */

#columns {
  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;

    #exercise {
      width: 55em;
      padding-left: 1em;
      padding-bottom: 1em;
      border: 1px solid;

      #left-column {
        width: 45em;
        display: inline-block;

        #title {
          display: inline-block;
        }

        #rating {
          display: inline-block;
        }

        #description {
          padding: 0.5em;
          padding-bottom: 0.2em;
          border: 1px solid;
          max-width: 37em;
        }

        #labels {
          padding-top: 0.5em;
        }
      }

      #right-column {
        display: inline-block;
      }
    }
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
  }
}

#flash-message {
  margin-top: 30px;
  margin-bottom: -20px;
}

.fa {
  color: #444444;
}

.disabled-cursor {
  cursor: not-allowed;
}
