/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery-ui/datepicker
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 @import *

*/

.exerciseLabel {
    padding: 0.5em 1.5em 0.8em;
    font-size: 80%;
    margin-top: 50px;
    display: inline;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.fa {
    color: #444444;

}
