.header {
  height: 40px;
  margin-bottom: 30px;

  .header-btn {
    padding: 9px 15px;
  }
}

table.vertical-table {
  border-collapse: separate;
  margin-bottom: 30px;
  width: 100%;

  th {
    width: 20%;
    text-align: center;
    vertical-align: text-top;
    background-color: #f5f5f5;
    padding: 4px;
    margin-bottom: 4px;
    border: 1px #dddddd solid;
    border-bottom: none;
    border-right: none;
  }
  td {
    text-align: left;
    padding: 4px;
    width: 80%;
    border: 1px #dddddd solid;
    border-bottom: none;
  }

  tr:first-child th {
    border-top-left-radius: 4px;
  }
  tr:first-child td {
    border-top-right-radius: 4px;
  }
  tr:last-child th {
    border-bottom-left-radius: 4px;
    border-bottom: 1px #dddddd solid;
  }
  tr:last-child td {
    border-bottom-right-radius: 4px;
    border-bottom: 1px #dddddd solid;
  }
}

.std-heading {
  margin: 0px;
  font-size: 30px;
  height: 40px;
  width: 200px;
  color: #444444;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 50%;
  margin-bottom: 20px;
  display: inline;
}

.nav-container {
  height: 40px;
  width: 100%;
  margin-bottom: 25px;
  margin-left: 0px;
  padding-left: 0px;

  .selected {
    border-color: #7C7C7C;
    z-index: 5;
  }

  .selected:hover {
    border-color: #7C7C7C;
    background-color: #eeeeee;
  }
}