// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$collection-color: #000080;


.header-btn-collection {
  border-color: $collection-color;
}


.inner-panel {
  margin-top: 25px;
  color: #444444;
}


