// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$collection-color: #000080;

.fa-solid.fa-folder-open {
  color: $collection-color;
}

.collection-content {
  width: 60%;
  margin-bottom: 40px;
  border-top: 1px solid lightgrey;

}

.nav-container .nav-btn-collection {
  padding: 10px 15px;
}

#share-menu {
  padding: 5px;
  min-width: 300px;
}

.lock {
  text-align: center;
  height: 100%;
  font-size: 24px;
  vertical-align: middle;
  margin-right: 5px;
}

.collection-subinfo {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  span {
    i {
      &:first-child {
        width: 20px;
      }
    }

    padding: 5px;
  }
}

.collection-checkmark {
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}

.create-collection {
  margin: 0 10px;
}

#collection-tasks-sortable {
  .row {
    border-bottom: 1px solid #ccc;
    padding: 5px;

    .vert-align-container {
      position: relative;
    }

    .vert-align {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // ui-sortable-helper is the class of the element being dragged in sortablejs
  // we are removing the border, background and the red X from tasks that are being dragged
  .ui-sortable-helper {
    .row {
      border-bottom: none;
      background: rgba(0, 0, 0, 0);
    }
    .fa-xmark {
      display: none;
    }
  }
}

.collection-edit-visibility {
  width: unset;
  margin-right: 10px;
}
