// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-block {

  padding: 10px;
  margin-bottom: 10px;
  border: 1px #e6e6e6 solid;
  border-radius: 4px;
  max-height: 120px;

  .comment-user {
    font-weight: bold;

    .created-at {
      font-weight: normal;
      color: #7C7C7C;
    }
  }
  .comment-text {
    margin-top: 8px;
    margin-bottom: 4px;
    max-height: 80px;
    overflow: hidden;

    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
  }
}

.refresh, .refresh:active, .refresh:hover, .refresh:link, .refresh:visited  {
  text-decoration: none;
  color: #444444;
  margin-bottom: 10px;
  display: block;
  padding: 5px;
}

.notransition {
  -o-transition: none !important;
  -ms-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}
