// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$exercise-color: #008000;

.editor {
  position: relative;
  height: 300px;
}

.editor_readonly {
  position: relative;
  height: 300px;
}

.search-container {
}

.nav-container {
  button {
    padding: 10px 70px 10px 70px;
    background-color: #f5f5f5;
    border: 2px #dddddd solid;
  }
  button:hover {
    background-color: #eeeeee;
  }
  .nav-btn-exercise {
    padding: 9px 15px;
    border-color: $exercise-color;
  }
}

