// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$exercise-color: #006600;

.editor {
  position: relative;
  height: 300px;
}

.exercise-show {
  border-left-color: rgba($exercise-color, .5);

}

.exercise_label {
  padding: 0.5em 1.5em;
  font-size: 80%;
  display: inline;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.25em;
  margin-left: 2px;
}

.exercise_label:first-child {
  margin-left: 0;
}

.files, .nested_fields {
  .exercise-show.show-table {
    margin-bottom: 12px;
  }
  .exercise-show.show-table:last-child {
    margin-bottom: 30px;
  }
}

.editor_readonly {
  position: relative;
  height: 300px;
}

.search-container {
}

.nav-container {
  button {
    padding: 10px 70px 10px 70px;
    background-color: #f5f5f5;
    border: 2px #dddddd solid;
  }
  button:hover {
    background-color: #eeeeee;
  }
  .nav-btn-exercise {
    padding: 9px 15px;
    border-color: $exercise-color;
  }
}

.fa-file-text-o {
  color: $exercise-color;
}

.exercise-content {
  display: inline-block;
  width: 80%;
  max-height: 110px;
  float: left;

}

.exercise-buttons {
  display: inline-block;
  width: 20%;
  float: right;
}

.crossed-out:after{
  content: '|';
  color: black;
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 2.5em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.crossed-out.small-slash:after {
  font-size: 1.5em;
}

.rating-panel {
  font-size: 8px;
  width: 18%;
  height: 100%;
  display: inline-block;
  word-wrap: break-word;
  overflow: auto;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px gray solid;
  float: right;
}

.description {
  width: 90%;
  height: 100px;
  max-height: 100px;
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  border-bottom: 1px lightgrey solid;
  padding-bottom: 5px;
}

.primary-description {
  background-color: #CCC !important;
  border-color: #CCC !important;
}

.description-lang-select {
  display: unset;
  width: unset;
  height: unset;
  padding: 5px;
}

.fa-star, .fa-star-o, .fa-star-half-o {
  color: #B79A00;
}

.number-rating {

  border: 2px #B79A00 solid;
  border-radius: 4px;
  font-size: 0.8em;
  padding: 1px 2px 1px 2px;
  margin-right: 2px;
  margin-top: -6px;
  line-height: 20px;
  color: #B79A00;
}

.popup-rating {
  width: 120px;
  height: 40px;
  display: none;
  background-color: white;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  padding: 2px 2px 2px 5px;
  margin-left: -45px;
  border: 2px grey solid;
  border-radius: 4px;

  .rating {
    z-index: 1;
  }
}

#rate {
  margin-left: 10px;
  font-size: 0.85em;
}

.rating-dropdown {
  position: relative;
  display: inline-block;
}

.rating-dropdown:hover .popup-rating {
  display: block;
}

.scrollable {
  height: auto;
  max-height: 120px;
  overflow-x: hidden;
}

.star-rating {
  font-size:1.25em;
  cursor: pointer;
}

.programming-language {
  margin-right: 16px;
  padding: 2px 4px;
  color: #7C7C7C;
  border: 1px #7C7C7C solid;
  border-radius: 4px;
}

.newtag-dropdown {
  color: #7C0000;
  font-size: 18px;
  margin-right: 12px;
  padding: 2px 4px;
}

.newtag-remove-button{
  color: #000;
}

.newtag-dropdown:hover .newtag-popup {
  display: block;
}

.newtag-popup {
  cursor: pointer;
  width: 125px;
  height: 30px;
  display: none;
  background-color: white;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  padding: 2px 2px 2px 5px;
  margin-top: 2px;
  margin-left: -45px;
  border: 2px grey solid;
  border-radius: 4px;

  // .rating {
  //   z-index: 1;
  // }
}


.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: - 1;
}

#xml-import {
  min-width: 180px;
  width: auto;
  padding: 5px 10px 5px 10px;
}

#import-button {
  background-color: #d3d3d3;
}

#import-button:hover {
  background-color: #d0d0d0;
}

.dropdown-content {
  display: none;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px #cccccc solid;
  margin-top: -1px;
  padding: 6px 12px 6px 12px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.section {
  float: left;
  position: relative;
  height: auto;
  box-sizing: border-box;
  width: 18%;
  margin-right: 10px;
}

.section > p {
  padding-left: 3px;
}

.proglanguages {
  width: 20%
}

.select2-search_field {
  height: 15px !important;
  font-size: 0.5em !important;
}

.toggle-next {
  cursor: pointer;
}

legend {
  font-size: 1.4em;
  margin-bottom: 20px;
  border:none;
}

.number {
  background-color: $exercise-color;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.input-group {
  width: 100%;
}

.file-content {
  display: none;
}

.form-description > .top-label {
  background-color: #eeeeee;
  border: #CCCCCC 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5px;
}

.form-description > textarea {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: none;
  min-height: 100px;
  margin-bottom: 10px;
}

.radio-base {
  border: #CCCCCC 1px solid;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
}

.radio-left {
  @extend .radio-base;
  width: 50%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.radio-right {
  @extend .radio-base;
  margin-left: -1px;
  width: 50%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.radio-left.small-radio, .radio-right.small-radio {
  font-size: 10px;
  padding: 3px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+label {
  background-color: #eeeeee;
}

.primary-checkbox:checked+label {
  background-color: #CCC;
}

.primary-checkbox+label {
  border-color: #AAA;
  background-color: #FFF;
  display: inline;
  padding: 10px 25px;
}

.full-window-button{

  width: 100%;
  height: 40px;
  text-align: left;
  background-color: #f5f5f5;
  margin-bottom: 15px;
  padding: 8px 8px;
  font-weight: 700;
  font-size: 13px;
  line-height: 26px;
  border: 1px #dddddd solid;
  color: #333;
  border-radius: 2px;
}

.comment-box {
  display: none;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.history-box {
  display: none;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  padding: 5px;
}

.history-info {
  width: 100%;
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
  margin: 5px;
}

.panel.panel-default.history:last-child {
  margin-bottom: unset !important;
}

.history.latest {
  background-color: #EEE;
}

.history.selected {
  background-color: #DDD;
}

.button-panel {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;

  .button-box {
    float: left;
    display: inline-block;
    border: 1px gray solid;
    border-radius: 4px;
    padding: 12px 16px;
    width: 30%;
    height: 160px;
    margin-left: 5%;
    background-color: #fafafa;

    .button-description {
      display: block;
      margin-bottom: 8px;
    }
    .wrapper {
      width: 100%;
      text-align: center;
      display: block;
      .btn-default, .btn-group {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
  .button-box:first-child {
    margin-left: 0;
  }
}

.related-box {
  display: none;
  width: 100%;
  position: relative;
  padding: 10px 0;
  margin-bottom: 15px;

  .slide-left, .slide-right{
    height: 200px;
    padding: 50px 0;
    position: absolute;
    display: block;
    width: 4%;
    font-size: 500%;
    text-align: center;
    top: 0;

    button {
      border: 2px transparent solid;
      height: 100px;
      border-radius: 4px;
      background: none;
      display: block;
    }
  }

  .slide-left.active, .slide-right.active {
    button {
      cursor: pointer;
      i {
        color: gray
      }
    }
    button:active {
      outline: none;
    }
  }

  .slide-left.inactive, .slide-right.inactive {
    button {
      cursor: default;
      i {
        color: lightgrey;
      }
    }
    button:active {
      outline: none;
    }

    button:focus {outline:0;}
  }

  .slide-left {
    button {
      padding-right: 5px;
      margin-left: 5px;
    }
  }

  .slide-right {
    right: 0;
    button {
      padding-left: 5px;
    }
  }

  .slide-right.active {
    button:active {
      transform: translateX(2px);
    }
  }

  .slide-left.active {
    button:active {
      transform: translateX(2px);
    }
  }

  .content {
    height: 200px;
    margin: 0 40px;
    display: block;
    position: relative;

    .panel.displayed {
      display: inline-block;
      width: 31%;
      margin: 1%;

      .small-exercise-content {
        display: inline-block;
        width: 100%;
        height: 90px;

        .small-description {
          width: 100%;
          height: 76px;
          padding-bottom: 5px;
          border-bottom: 1px lightgrey solid;
          display: block;
          word-wrap: break-word;
          overflow: hidden;
        }
      }
    }
    .panel.not-displayed {
      display: none;
    }
  }
}

.with-bottom-border {
  border-bottom: 1px #dddddd solid;
}

.with-borders {
  margin-top: 10px;
  border: 1px #dddddd solid;
  border-radius: 4px;
}

.write-comment {
  padding: 20px;
}

.comment-body {
  padding-left: 20px;
  padding-right: 20px;
}

.license {
  display: table;
  width:100%;

  .select {
    display: table-cell;
    width: 50%
  }

  .link {
    padding: 5px;
    margin-left: 20px;
    display: table-cell;
    width: 50%;
    color: #555555;
    font-size: 18px;

    p {
      margin-left: 10px;
      font-size: 18px;
      color: #555555;
    }

    a {
      font-size: 18px;
      color: #555555;
    }
  }
}

.placeholder.form-control {
  padding: 0;
  border: 0;
  height: 28px;
  visibility: hidden;
  * {
    visibility: visible;
  }
}

.impact {
  display: inline;
  margin-right: 20px;
}

.stats {
  color: #7C7C7C;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
}
.exercise-content {
  .more-btn-wrapper {
    width: 90%;
  }
}

.more-btn-wrapper {
  text-align: right;
}

.animated-sliding {
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}

.more-btn-wrapper[style*='display: none'] ~ .labels {
  margin-top: 5px;
}

.exercise-panel {
  min-height: 155px;
}
