// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$task-color: #6c757d;

.editor {
  position: relative;
  height: 300px;
}

.exercise-show {
  border-left-color: rgba($task-color, 0.5);
}

.small_label {
  padding: 0.5em 1.5em;
  font-size: 80%;
  display: inline;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.25em;
  margin-left: 2px;
}

.files,
.tests,
.model_solutions,
.nested_fields {
  .exercise-show.show-table {
    margin-bottom: 12px;
  }
  .exercise-show.show-table:last-child {
    margin-bottom: 30px;
  }
}

.editor_readonly {
  position: relative;
  height: 300px;
}

.nav-container {
  button {
    padding: 10px 60px;
    background-color: #f5f5f5;
  }
  button:hover {
    background-color: #eeeeee;
  }
  .nav-btn-exercise {
    padding: 10px 15px;
  }
}

// button in lg and below for nav-container should always display appropiate sizing
@media (max-width: 991.98px) {
  .nav-container {
    button {
      padding: 10px 20px;
    }
  }
}

.fa-regular.fa-file-lines {
  color: $task-color;
}

.crossed-out:after {
  content: '|';
  color: black;
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 2.5em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.crossed-out.small-slash:after {
  font-size: 1.5em;
}

.rating-card {
  font-size: 8px;
  width: 18%;
  height: 100%;
  display: inline-block;
  word-wrap: break-word;
  overflow: auto;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px gray solid;
  float: right;
}

.description {
  width: 90%;
  height: 100px;
  max-height: 100px;
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  border-bottom: 1px lightgrey solid;
  padding-bottom: 5px;
}

.primary-description {
  background-color: #ccc !important;
  border-color: #ccc !important;
}

.description-lang-select {
  display: unset;
  width: unset;
  height: unset;
  padding: 5px;
}

.fa-solid.fa-star,
.fa-regular.fa-star,
.fa-regular.fa-star-half-stroke {
  color: $task-color;
}

/* CARD */

.card {
  .card-task-title {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .card-body {
    .more-btn-wrapper {
      width: 90%;
    }
  }
}

/* RATING */

.task-rating {
  position: relative;
  font-size: 0.8em;
  border-style: solid;
  border-width: 1px;
  border-color: $task-color;
  border-radius: 2px;
  margin: 2px;
  display: inline-flex;

  .task-star-rating {
    font-size: 1.05em;
    padding: 2px 3px;
  }
  .number-rating {
    background-color: $task-color;
    padding: 2px 5px 2px 3px;
    color: white;
    display: inline-block;
  }
}

.rating-subcategories-overlay {
  right: -1px;
  top: 100%;
  margin-top: 3px;
  position: absolute;
  font-size: 0.9em;

  border: 1px #dddddd solid;

  background-color: white;
  color: #333;

  z-index: 10;

  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 0.5em;

  visibility: hidden;
  transition: visibility 1ms;

  .task-rating {
    font-size: 0.9em;
    background-color: var(--bs-card-cap-bg);
  }
}

.rating-subcategories-trigger {
  position: relative;
}

.rating-subcategories-trigger:hover .rating-subcategories-overlay {
  visibility: visible;
  transition-delay: 0.2s;
}

.rating-category-container {
  white-space: nowrap;
  display: flex;
  gap: 0.8em;
  justify-content: space-between;
  align-items: center;
}

.task-star-rating {
  white-space: nowrap;
  font-size: 1.2em;
}

.task-rating-count {
  font-size: 0.8em;
  color: $task-color;
}

.popup-rating {
  height: 30px;
  display: none;
  position: absolute;
  padding: 5px 2px;
  margin-left: -45px;
  border: 1px $task-color solid;

  .rating {
    z-index: 1;
    text-align: center;
  }
}

#rate {
  color: $task-color;
}

.rating-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.rating-dropdown:hover .popup-rating {
  display: block;
}

.scrollable {
  height: auto;
  max-height: 120px;
  overflow-x: hidden;
}

.programming-language {
  font-size: 0.8em;
  padding: 2px 4px;
  color: white;
  background-color: $task-color;
  border: 1px $task-color solid;
  border-radius: 2px;
}

.visibility {
  margin-left: 5px;
  padding: 2px 4px;
  font-size: 0.7em;
  font-weight: 500;
  color: $task-color;
  .fas {
    margin-bottom: 5px;
  }
}

.state-tag-dropdown {
  color: #7c0000;
  font-size: 18px;
  margin-right: 12px;
  padding: 2px 4px;
}

.state-tag-remove-button {
  color: #000;
}

.state-tag-dropdown:hover .state-tag-popup {
  display: block;
}

.state-tag-popup {
  cursor: pointer;
  width: 125px;
  height: 30px;
  display: none;
  background-color: white;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding: 2px 2px 2px 5px;
  margin-top: 2px;
  margin-left: -45px;
  border: 2px grey solid;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  width: 100%;
  background-color: #f8f9fa;
  border: 1px #cccccc solid;
  margin-top: -1px;
  padding: 6px 12px 6px 12px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  p {
    margin-bottom: 5px;
  }
}

.toggle-next {
  cursor: pointer;
}

legend {
  font-size: 1.4em;
  margin-bottom: 20px;
  border: none;
}

.number {
  color: $task-color;
  font-size: 1.3em;
  font-weight: 700;
  margin-right: 10px;
}

.input-group {
  width: 100%;
}

.file-content {
  display: none;
}

.form-description > .top-label {
  background-color: #eeeeee;
  border: #cccccc 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5px;
}

.form-description > textarea {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: none;
  min-height: 100px;
  margin-bottom: 10px;
}

.history-box {
  display: none;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  padding: 5px;
}

.card.history:last-child {
  margin-bottom: unset !important;
}

.history.latest {
  background-color: #eee;
}

.history.selected {
  background-color: #ddd;
}

.button-box {
  margin: 12px;
  border-radius: 2px;
  background-color: #f8f9fa;

  .button-description {
    display: block;
    margin-bottom: 8px;
  }
  .wrapper {
    width: 100%;
    text-align: center;
    display: block;
    .btn,
    .btn-group {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

.related-box {
  display: none;
  width: 100%;
  position: relative;
  padding: 10px 0;
  margin-bottom: 15px;

  .slide-left,
  .slide-right {
    height: 200px;
    padding: 50px 0;
    position: absolute;
    display: block;
    width: 4%;
    font-size: 500%;
    text-align: center;
    top: 0;

    button {
      border: 2px transparent solid;
      height: 100px;
      border-radius: 4px;
      background: none;
      display: block;
    }
  }

  .slide-left.active,
  .slide-right.active {
    button {
      cursor: pointer;
      i {
        color: gray;
      }
    }
    button:active {
      outline: none;
    }
  }

  .slide-left.inactive,
  .slide-right.inactive {
    button {
      cursor: default;
      i {
        color: lightgrey;
      }
    }
    button:active {
      outline: none;
    }

    button:focus {
      outline: 0;
    }
  }

  .slide-left {
    button {
      padding-right: 5px;
      margin-left: 5px;
    }
  }

  .slide-right {
    right: 0;
    button {
      padding-left: 5px;
    }
  }

  .slide-right.active {
    button:active {
      transform: translateX(2px);
    }
  }

  .slide-left.active {
    button:active {
      transform: translateX(2px);
    }
  }

  .content {
    margin: 0 40px;
    display: flex;
    position: relative;

    .card.displayed {
      display: inline-block;
      width: 31%;
      margin: 1%;
    }
    .card.not-displayed {
      display: none;
    }
  }
}

.with-bottom-border {
  border-bottom: 1px #dddddd solid;
}

.with-borders {
  border: 1px #dddddd solid;
}

.write-comment {
  padding: 20px;
}

.comment-body {
  padding-left: 20px;
  padding-right: 20px;
}

.license {
  display: table;
  width: 100%;

  .select {
    display: table-cell;
    width: 50%;
  }

  .link {
    padding: 5px;
    margin-left: 20px;
    display: table-cell;
    width: 50%;
    color: #555555;
    font-size: 18px;

    p {
      margin-left: 10px;
      font-size: 18px;
      color: #555555;
    }

    a {
      font-size: 18px;
      color: #555555;
    }
  }
}

.placeholder.form-control {
  padding: 0;
  border: 0;
  height: 28px;
  visibility: hidden;
  opacity: 1;
  * {
    visibility: visible;
  }
}

.impact {
  display: inline;
  margin-right: 20px;
}

.stats {
  color: #7c7c7c;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
}

.more-btn-wrapper {
  text-align: right;

  button {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 0 0 5px 5px;
    border-top: none;
    padding-left: 7px;
    padding-right: 7px;
    background: white;
  }
}

.animated-sliding {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.more-btn-wrapper[style*='display: none'] ~ .labels {
  margin-top: 5px;
}

.labels {
  overflow-wrap: break-word;
}

.import-export-button {
  width: 100%;
  text-align: left;
}

.export-button-icon {
  margin-right: 0.4em;
}

.import-export-exercise {
  display: flex;
}

.import-export-message {
  flex-grow: 1;
  padding-right: 5px;
}

.import-export-exercise + .import-export-exercise {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid lightgrey;
}

.import-export-success {
  color: darkgreen;
  font-size: 12pt;
  font-weight: 600;
}

.confirm-icon {
  color: #080;
}

.confirm-icon-alt {
  color: #008;
}

.abort-icon {
  color: #800;
}

.spinner-border {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.errors {
  color: darkred;
}
