// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$exercise-color: #006600;

.editor {
  position: relative;
  height: 300px;
}

.editor_readonly {
  position: relative;
  height: 300px;
}

.search-container {
}

.nav-container {
  button {
    padding: 10px 70px 10px 70px;
    background-color: #f5f5f5;
    border: 2px #dddddd solid;
  }
  button:hover {
    background-color: #eeeeee;
  }
  .nav-btn-exercise {
    padding: 9px 15px;
    border-color: $exercise-color;
  }
}

.fa-file-text-o {
  color: $exercise-color;
}
.exercise-content {
  display: inline-block;
  width: 80%;
  height: 120px;
  float: left;
}

.exercise-buttons {
  display: inline-block;
  width: 20%;
  float: right;
}

.rating-panel {
  font-size: 8px;
  width: 18%;
  height: 100%;
  display: inline-block;
  word-wrap: break-word;
  overflow: auto;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px gray solid;
  float: right;
}

.description {
  width: 90%;
  height: 80px;
  display: block;
  word-wrap: break-word;
  overflow: auto;
}

.labels {
  margin-top: 20px;
  float: left;
}

.fa-star, .fa-star-o, .fa-star-half-o {
  color: #B79A00;
}

.number-rating {
  border: 2px #B79A00 solid;
  border-radius: 4px;
  font-size: 0.8em;
  padding: 1px 2px 1px 2px;
  margin-right: 2px;
  margin-top: -6px;
  line-height: 20px;
  color: #B79A00;
}

.popup-rating {
  width: 120px;
  height: 40px;
  display: none;
  background-color: white;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  padding: 2px 2px 2px 5px;
  margin-left: -45px;
  border: 2px grey solid;
  border-radius: 4px;

  .rating {
    z-index: 1;
  }
}

#rate {
  margin-left: 10px;
  font-size: 0.85em;
}

.rating-dropdown {
  position: relative;
  display: inline-block;
}

.rating-dropdown:hover .popup-rating {
  display: block;
}

.scrollable {
  height: auto;
  max-height: 120px;
  overflow-x: hidden;
}

.star-rating {
  line-height:32px;
  font-size:1.25em;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px #cccccc solid;
  margin-top: -1px;
  padding: 6px 12px 6px 12px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.section {
  float: left;
  position: relative;
  height: auto;
  box-sizing: border-box;
  width: 18%;
  margin-right: 10px;
}

.section > p {
  padding-left: 3px;
}

.proglanguages {
  width: 20%
}

.select2-search_field {
  height: 15px !important;
  font-size: 0.5em !important;
}

.toggle {
  cursor: pointer;
}

legend {
  font-size: 1.4em;
  margin-bottom: 20px;
  border:none;
}

.number {
  background-color: $exercise-color;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.input-group {
  width: 100%;
}

.form-description > .top-label {
  background-color: #eeeeee;
  border: #CCCCCC 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5px;
}
.form-description > textarea {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: none;
  min-height: 100px;
  margin-bottom: 10px;
}

.radio-left {
  border: #CCCCCC 1px solid;
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  width: 50%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.radio-right {
  border: #CCCCCC 1px solid;
  box-sizing: border-box;
  margin-left: -1px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  width: 50%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked+label {
  background-color: #eeeeee;
}

.comment-box {
  display: none;
  width: 100%;
  position: relative;
}
.with-borders {
  margin-top: 10px;
  border: 1px #dddddd solid;
  border-radius: 4px;
}

.write-comment {
  padding: 20px;
}

.comment-body {
  padding-left: 20px;
  padding-right: 20px;
}