$group-color: #660000;

.fa-group {
  color: $group-color
}

.nav-container {
  a {
    padding: 10px 70px 10px 70px;
    background-color: #f5f5f5;
    border: 2px #dddddd solid;
    display: inline-block;
  }
  a:hover, a:focus {
    background-color: #f0f0f0;
    color: black;
    text-decoration: none;
  }

  .nav-btn-group {
    padding: 9px 15px;
    border-color: $group-color;
  }
}

.dropdown-item {
  text-align: left;
  width: 100%;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
  background: none;
  border: none;
}
.dropdown-item:hover {
  background-color: #f0f0f0;
}
