$group-color: #800000;

.nav-container {
  a {
    padding: 10px 70px 10px 70px;
    background-color: #f5f5f5;
    border: 2px #dddddd solid;
    display: inline-block;
  }
  a:hover, a:focus {
    background-color: #f0f0f0;
    color: black;
    text-decoration: none;
  }

  .nav-btn-group {
    padding: 9px 15px;
    border-color: $group-color;
  }
}
