$task-color: #6c757d;

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 12px;
}

blockquote {
  border-left: 4px solid var(--bs-secondary-bg);
  color: var(--bs-secondary-text-emphasis);
  margin: 14px 0;
  padding: 0 16px;
}

a,
.btn-link {
  color: #333;

  &:hover {
    color: $task-color;
  }
}

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  input,
  textarea {
    border-color: red;
  }
}
