// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.file-configuration {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.test-content {
  display: none;
}

.files-header {
  color: #333;
  font-size: 12pt;
}

.import-export-task-actions {
  max-width: 150px;
  min-width: 150px;
}

.import-export-task {
  display: flex;
}

.import-export-message {
  flex-grow: 1;
  padding-right: 5px;
}

.import-export-task + .import-export-task {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid lightgrey;
}

#import-task-button {
  background-color: #dddddd;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#xml-import {
  min-width: 220px;
  width: auto;
  padding: 5px 10px 5px 10px;
}

.full-window-button {
  width: 100%;
  height: 40px;
  text-align: left;
  background-color: #f5f5f5;
  padding: 8px 8px;
  font-weight: 700;
  font-size: 13px;
  line-height: 26px;
  border: 1px #dddddd solid;
  color: #333;
  border-radius: 2px;
}

.comment-box {
  display: none;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.expandable-panel {
  margin-bottom: 15px;
}

.unchangeable-groups {
  .title {
    font-weight: bold;
  }
}

.task_label {
  padding: 5px;
  font-size: 80%;
  display: inline;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.25em;
}

.task_label:first-child {
  margin-left: 0;
}

.dropdown-menu {
  width: 100%;
  border-radius: 2px;
}

.create-collection.input-group {
  width: calc(100% - 20px);
  .btn.submit {
    width: unset;
    margin-bottom: 0 !important;
  }
}
