// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.file-configuration {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.test-content {
  display: none;
}

.files-header {
  color: #333;
  font-size: 12pt;
  margin-left: 10px;
}
