// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  padding: 8px;
}

.remove-account-link-form {
  display: inline;
}

img.pixelated {
  image-rendering: pixelated;
  width: 100%;
}
