<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% account_links.each do |account_link| %>
      <tr>
        <td><%= account_link.readable %></td>
        <td class="btn btn-default"><%= link_to 'Show', user_account_link_path(account_link.user, account_link) %></td>
        <td class="btn btn-default"><%= link_to 'Edit', edit_user_account_link_path(account_link.user, account_link) %></td>
        <td class="btn btn-default"><%= link_to 'Destroy', user_account_link_path(account_link.user, account_link), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
