<p>
  <strong>Push URL:</strong>
  <%= @account_link.push_url %>
</p>

<p>
  <strong>Account Name:</strong>
  <%= @account_link.account_name %>
</p>

<p>
  <strong>OAuth2 token:</strong>
  <%= @account_link.oauth2_token %>
</p>
