<p id="notice"><%= notice %></p>

<h1>Listing Account Links</h1>

<%= render partial: "all", locals: {account_links: @account_links} %>

<br>

<%= link_to 'New Account link', new_user_account_link_path(@user) %>
