<div class="form-group">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Language
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li>
        <div class="radio">
          <label><input type="radio" name="language[EN]" value="EN">EN</label>
        </div>
      </li>
      <li>
        <div class="radio">
          <label><input type="radio" name="language[DE]" value="DE">DE</label>
        </div>
      </li>
      <li>
        <div class="radio">
          <label><input type="radio" name="language[FR]" value="FR">FR</label>
        </div>
      </li>
      <li>
        <div class="radio">
          <label><input type="radio" name="language[ES]" value="ES">ES</label>
        </div>
      </li>
      <li>
        <div class="radio">
          <label><input type="radio" name="language[JA]" value="JA">JA</label>
        </div>
      </li>
      <li>
        <div class="radio">
          <label><input type="radio" name="language[CN]" value="CN">CN</label>
        </div>
      </li>
    </ul>
  </div>
</div>
