= form_for(@test) do |f|
  - if @test.errors.any?
    #error_explanation
      h2
        = pluralize(@test.errors.count, t('error'))
        = t('tests.errorMessage')
      ul
        - @test.errors.full_messages.each do |message|
          li
            = message
  .field
    = f.label :content, t('tests.content')
    br
    = f.text_area :content
  .field
    = f.label :rating, t('tests.rating')
    br
    = f.number_field :rating
  .field
    = f.label :feedback_message, t('tests.feedback')
    br
    = f.text_field :feedback_message
  .field
    = f.label :testing_framework_id
    br
    = f.text_field :testing_framework_id
  .actions
    = f.submit
