<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Hello <%= @contrib_author.name %></h3>
<p>
  Your Contribution for the Task "<%= @task_contrib.base.title %>" was approved and merged.<br/>
  The task linked to your contribution is now a full duplicate and can be deleted.
</p>
</body>
</html>
