| Hello #{@task_author.name}
br
= "#{@contrib_author.name} asked to contribute to your Task \"#{@task_contrib.base.title}\"."
| If you want to review or merge the changes click the link below.
| Otherwise ignore this Email.
br
= task_task_contribution_url(@task_contrib.base, @task_contrib)

