== t('task_contributions.mailer.greeting', user: @contrib_author.name)
== "\n\n"
== t('task_contributions.mailer.rejection_info.status_message', task: @task_contrib.base.title)
== "\n\n"
== t('task_contributions.mailer.rejection_info.duplicate_message')
== "\n\n"
== t('task_contributions.mailer.rejection_info.visibility_message')
== "\n\n"
== link_to t('task_contributions.mailer.task_url_message'), task_url(@duplicate)
