== I18n.t(:'devise.mailer.reset_password_instructions.greeting', name: @resource.name || @resource.email)
== "\n\n"
== I18n.t(:'devise.mailer.reset_password_instructions.p1')
== "\n\n"
== edit_password_url(@resource, reset_password_token: @token)
== "\n\n"
== I18n.t(:'devise.mailer.reset_password_instructions.p2')
== "\n\n"
== I18n.t(:'devise.mailer.reset_password_instructions.p3')
