p = I18n.t(:'devise.mailer.reset_password_instructions.greeting', name: @resource.name || @resource.email)

p = I18n.t(:'devise.mailer.reset_password_instructions.p1')

p = link_to I18n.t(:'devise.mailer.reset_password_instructions.action'), edit_password_url(@resource, reset_password_token: @token)

p = I18n.t(:'devise.mailer.reset_password_instructions.p2')

p = I18n.t(:'devise.mailer.reset_password_instructions.p3')
