== I18n.t(:'devise.mailer.unlock_instructions.greeting', name: @resource.name || @resource.email)
== "\n\n"
== I18n.t(:'devise.mailer.unlock_instructions.p1')
== "\n\n"
== I18n.t(:'devise.mailer.unlock_instructions.p2')
== "\n\n"
== unlock_url(@resource, unlock_token: @token)
